body{
  font-family: Arial;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
}

.app{
  max-width: 600px;
  margin: 0 auto;
  background-color: #efefef;
  padding: 20px 30px; 
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 300px;
}

h1{
  text-align: center;
}

h2{
  margin-bottom: 20px;
}

p{
  margin: 10px 0;
}

input{
  /* não passe a área do elemento pai */
  box-sizing: border-box ; 
}